#menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 3vh;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 14px;
}

#menu #category {
    font-size: 1.25rem;
    font-weight: 520;
    text-align: left;
    margin-bottom: 10px;
    
    padding-left: 20px;
}

#menu select {
    width: 80%;
    height: 4vh;
    border-radius: 10px;
    padding: 5px 10px;
}
